﻿@{ 
    IgnoreBody(); 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TRPO_Lab5.AspNetApplication</title>
    <link rel="stylesheet" href="~/css/calc.css" />
</head>
<body>
    <main>
        <h1 class="main__header">Площадь поверхности цилиндра</h1>
        <img class="main__cylinder" src="~/img/cilinder_surface_area.png" alt="Cylinder Surface Area" />
        <img class="main__formula" src="~/img/surface_area_formula.png" alt="Cylinder Surface Formula" />
        <form class="main__form" action="" method="post">
            <div>
                <span class="form__unvalid">Необходимо использовать только положительные значения</span>
                <input class="form__input" type="number" name="R" placeholder="Радиус, R" />
                <input class="form__input" type="number" name="H" placeholder="Высота, H" />
                <button class="form__btn" asp-area="" asp-controller="Calculation" asp-action="Calc">Рассчитать</button>
                <p class="form__result">Результат: @ViewBag.Result</p>
            </div>
        </form>
    </main>

    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



