﻿@font-face {
    font-family: "Oswald Regular";
    src: url("/fonts/Oswald-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

/* Normalize */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald Regular";
    font-size: 16px;
    outline: none;
}

body {
    margin: 0;
}

main {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Styles */
.main__header {
    font-size: 25px;
    text-transform: uppercase;
}

.main__cylinder {
    margin: 50px 0 20px 0;
}

.main__formula {
    max-width: 200px;
}

.main__form {
    position: relative;
    padding-top: 20px;
}

.form__unvalid {
    position: absolute;
    top: 0;
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: orangered;
}

.form__input {
    border: none;
    border-bottom: 1px solid #000;
}

.form__btn {
    border: none;
    padding: 0 4px;
    border-bottom: 1px solid #000;
    transition-duration: 0.2s;
}

.form__btn:hover {
    background-color: #000;
    color: white;
    cursor: pointer;
}

.form__result {
    margin-top: 20px;
}

.disabled {
    display: none;
}

